<mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Descargar Datos</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>

        
        <p>Seleccionar Filtro por Geometria:</p>
<mat-form-field appearance="fill">
  <mat-select>
    <mat-option *ngFor="let geom of geoms" [value]="geom.value">
      {{geom.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


    </mat-expansion-panel>

</mat-accordion>