<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Capas de Información ACC</h4>
                
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li *ngFor="let layer of checkboxesLayersList">
                <mat-checkbox [(ngModel)]="layer.isChecked" (change)="changeSelection()">{{layer.label}}
                </mat-checkbox>
            </li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Importar Datos</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>



</mat-accordion>